@media (min-width: 1000px) {

    .wrapper__sidebar {
        width: 30% !important;
        flex: 0 0 30% !important;
        max-width: 30% !important;
    }

    .wrapper__main {
        width: 70% !important;
        flex: 0 0 70% !important;
        max-width: 70% !important;
    }

}