@media (min-width: 1000px) {

    .wrapper__sidebar {
        width: 30% !important;
        flex: 0 0 30% !important;
        max-width: 30% !important;
    }

    .wrapper__main {
        width: 70% !important;
        flex: 0 0 70% !important;
        max-width: 70% !important;
    }

}

.country-flag-item {
    margin-right: 5px;
}

.country-flag-item:last-child {
    margin-right: 0;
}

.upcoming-post {
    border-left: 5px solid #61dafb;
    background-color: rgba(97, 218, 251, 0.03);
    padding-left: 15px !important;
    border-radius: 0 5px 5px 0;
    position: relative;
}